@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: system-ui, sans-serif;
  height: 100%;
  font-size: 12px;
  overscroll-behavior-y: none;
}

html.dark body {
  background: #252b37;
}

#app {
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
}
.editor .cm-editor {
  height: 100%;
}

#syntaxTree {
  height: 20%;
  overflow-y: auto;
}

.center-with-translate {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-x-with-translate {
  left: 50%;
  transform: translate(-50%);
}

.no-border-outlineactive,
.no-border-outline:selected,
.no-border-outline:focus,
.no-border-outline:focus-visible {
  border: none;
  outline: none;
}

input {
  @apply border border-gray-300;
  @apply focus:outline-2 focus:outline-gray-400 focus:border focus:border-white;
}

html.dark input {
  background: #3b3b3b;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid #5a5a5a;
  &:focus {
    border: 1px solid #3b3b3b;
  }
}

@media (max-width: 600px) {
  input {
    font-size: 16px;
    max-width: 100%;
  }
}

/* note selector, language selector, history selector */
@media (max-width: 600px) {
  .selector {
    max-width: calc(100% - 80px);
  }
}

html.dark select {
  @apply bg-gray-800;
}

.selector {
  font-size: 13px;
  max-height: calc(100% - 4rem);

  @apply bg-white;
}

html.dark .selector {
  @apply bg-gray-900 text-gray-300;
}

.selector .red {
  color: red;
}

html.dark .selector .red {
  color: #ff7b72;
}

/* for getScrollbarWidth() */
.scrollbar-width-detector {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/* without this the space between checkbox and text is really large
   I have no idea why this helps */
.cm-taskmarker-toggle {
  font-family: ui-monospace;
}
