@import "@imengyu/vue3-context-menu/lib/vue3-context-menu.css";
@import "vue-toastification/dist/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --status-bar-background: #487eb5;
  --status-bar-color: #fff;
}

html.dark {
  --status-bar-background: #0e1712;
  --status-bar-color: rgba(255, 255, 255, 0.75);
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: system-ui, sans-serif;
  height: 100%;
  font-size: 12px;
  overscroll-behavior-y: none;
}

html.dark body {
  background: #252b37;
}

#app {
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
}
.editor .cm-editor {
  height: 100%;
}

#syntaxTree {
  height: 20%;
  overflow-y: auto;
}

.center-with-translate {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-x-with-translate {
  left: 50%;
  transform: translate(-50%);
}

.no-border-outlineactive,
.no-border-outline:selected,
.no-border-outline:focus,
.no-border-outline:focus-visible {
  border: none;
  outline: none;
}

input {
  border: 1px solid #ccc;
  &:focus {
    outline: none;
    border: 1px solid #fff;
    outline: 2px solid #487eb5;
  }
}

html.dark input {
  background: #3b3b3b;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid #5a5a5a;
  &:focus {
    border: 1px solid #3b3b3b;
  }
}

@media (max-width: 600px) {
  html.webapp input {
    font-size: 16px;
    max-width: 100%;
  }
}

/* note selector, language selector, history selector */
@media (max-width: 600px) {
  html.webapp .selector {
    max-width: calc(100% - 80px);
  }
}

.selector {
  font-size: 13px;
  background: #efefef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-height: calc(100% - 4rem);
}

html.dark .selector {
  background: #151516;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.selector .items > li:hover {
  background: #e2e2e2;
}

.selector .items > li.selected {
  background: #487eb5;
  color: #fff;
}

html.dark .selector .items > li {
  color: rgba(255, 255, 255, 0.53);
}

html.dark .selector .items > li:hover {
  background: #29292a;
}

html.dark .selector .items > li.selected {
  background: #1b6540;
  color: rgba(255, 255, 255, 0.87);
}

html.dark .selector .kbd-grid {
  color: rgba(255, 255, 255, 0.53);
}

.selector .kbd {
  font-family: monospace;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 5px;
  background-color: white;
}

html.dark .selector .kbd {
  background-color: #3b3b3b;
  color: rgba(255, 255, 255, 0.9);
}

.selector .red {
  color: red;
}

html.dark .selector .red {
  color: #ff7b72;
}

/* vue3-context-menu */
body {
  --mx-menu-text: #000;
  --mx-menu-disabled-text: #808080;
}

.mx-context-menu {
  line-height: 1.2;
}

.mx-context-menu-item .label {
  font-size: 12px;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}

.mx-right-arrow {
  width: 8px;
  height: 8px;
}

.mx-shortcut {
  border: 1px solid white;
}

/* vue-toastification */
.Vue-Toastification__toast-body {
  font-size: 14px !important;
  padding: 0;
  margin: 0;
  padding-right: 1em;
}

.Vue-Toastification__toast-component-body {
  display: flex;
}

.Vue-Toastification__toast {
  padding: 4px 8px !important;
  min-height: 12px !important;
}

/* for getScrollbarWidth() */
.scrollbar-width-detector {
  position: absolute;
  visibility: hidden;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
